pandas
numpy
joblib
fastapi
uvicorn
google
google-api-core==2.11.0
google-auth==2.16.3
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.9.0
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
gensim
sagemaker
nltk
scikit-learn
matplotlib
streamlit
